html {
    scroll-behavior: smooth;
}

.rentals__body {
    text-align: center;
}

.row {
    display: flex;
    max-width: 33.3%;
  }
  
.column {
    
    text-align: center;
    align-content: center;
    
}

/*MARK: zig zag stuff */
.container {
  padding: 0px;
}

* {
  box-sizing: border-box;
}


/* Mark: Column card stuff */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.card-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.card-row {
  margin: 0 -5px; 
  /* text-align: center; */
  /* align-content: center; */
  display: flex;
  justify-content: center;
}

/* Clear floats after the columns */
/* .card-row:after {
   text-align: center;
    align-content: center;
  content: "";
  display: table;
  clear: both;
} */
/* Clear floats after the columns */
.card-row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #0c1538;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 908px) {
  .card-column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }

  .card-row {
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .card-column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }

  .card-row {
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
  }
}

.box-text {
   color: #ffffff;
}

.box-subtext {
   margin: 0;
        padding: 0;
}